/*© 2015 Arian Flores All Rights Reserved

All rights reserved. No part of this code may be reproduced, distributed, or transmitted in any form or by any means, 
including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the creator, except 
in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law.
For permission requests, write to the creator,addressed “Attention: Permissions Coordinator,” at the address below.

AirMan inc
6330 QuickSilver Avenue
San Francisco, CA 94560
www.arianflores.com*/

/*Centered header pic */
.headerPic{
	height: 50%; 
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block; 
}

/*Styled fadding headings */
#header{
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding-bottom: 25px; 
}

#header2{
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding-top: 50px; 
	padding-bottom: 25px; 
}

#header3{
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding-top: 50px; 
	padding-bottom: 25px; 

}

/*Styled  story selection pics with round edges and padding */
#StoryBox{
	display: block;
	float: left; 
	padding: 25px;
	width: 25%; 
}

#StoryBox2{
	display: block;
	float: left; 
	padding: 25px;
	width: 25%; 
}

#StoryBox3{
	display: block;
	float: left; 
	padding: 25px;
	width: 25%; 
}

#StoryBox4{
	display: block;
	float: left; 
	padding: 25px;
	width: 25%; 
}

#StoryBox5{
	display: block;
	clear: both; 
	padding: 25px;
	width: 100%; 
}


#StoryIMG{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 400px; 
	width: 265px;
}

#SavedStoryIMG{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#savedMsg{
	color: red;
}

#submitBtn{
	margin-top: 2%;
}

#wordForm{
	margin-left: 30%;
	clear: both;
}

#headWord{
	margin-right: 45%;
}

/*Styled form components*/
input .btn{
	margin-left: auto; 
	margin-right: auto;
	display: block;
}

input{
  	 text-align:center;
}

/*Styled story line components*/
p{
	display: block;
	padding-bottom: 10px;
}

footer{
   float: both;
   width:100%;
   bottom: 0;
   margin-left: 42%;
   margin-top: 30%; 
   font-size: 25px;
}

.glyphicon{
  float: left;
  font-size: 30px;
  }

.footerNote{
 float: left;
 margin-right: 1%;
 font-family: 'Source Serif Pro', serif;
 font-weight: 600;
 color: #000000;
}

.footerDate{
  float: left;
  margin-left: 1%;
}




