.headerPic{
	height: 50%; 
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block; 

}

.header{
	padding-bottom: 25px; 

}

#StoryBox{
	display: block;
	float: left; 
	padding: 25px;
	width: 25%; 
}

#StoryIMG{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 400px; 
	width: 265px;
}

input .btn{
	margin-left: auto; 
	margin-right: auto;
	display: block;
}

label{
	text-align: center; 
}

 p{
	display: block;
	padding-bottom: 10px;
}

